In [7]:
s = "this is My First Python programming class and i am learNING python string and its function"

In [8]:
#1 . Try to extract data from index one to index 300 with a jump of 3 
s[:301:3]

'tssyityopgmncsa alrNph rgni ni'

In [11]:
#2. Try to reverse a string without using reverse function 
s[-1:-300:-1]

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

In [12]:
s[::-1]

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

In [30]:
# Try to split a string after conversion of entire string in uppercase 
s1 = s.upper()

In [28]:
s1

'THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRING AND ITS FUNCTION'

In [31]:
s1.split()

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

In [32]:
#try to convert the whole string into lower case 
s1.lower()

'this is my first python programming class and i am learning python string and its function'

In [33]:
s.lower()

'this is my first python programming class and i am learning python string and its function'

In [ ]:
#Try to capitalize the whole string

In [34]:
s.capitalize()

'This is my first python programming class and i am learning python string and its function'

In [35]:
#Write a diference between isalnum() and isalpha()

v = "vishal"
v.isalnum()

True

In [36]:
v.isalpha

In [38]:
d="cvgfg125"

In [39]:
d.isalpha()

False

In [40]:
d.isalnum()

True

In [ ]:
#Try to give an example of expand tab

In [48]:
b = "xgfgf\tccm\t123"

In [49]:
b.expandtabs()

'xgfgf   ccm     123'

In [43]:
#Give an example of strip , lstrip and rstrip 
v = "    vishal     "

In [44]:
v.strip()

'vishal'

In [45]:
v.lstrip()

'vishal     '

In [47]:
v.rstrip()

'    vishal'

In [ ]:
#9.  Replace a string charecter by another charector by taking your own example

In [50]:
d = "vishal kumar"

In [51]:
d.replace("kumar","gupta")

'vishal gupta'

In [55]:
#10 . Try  to give a defination of string center function with and exmple 
d.center(20, "@")

'@@@@vishal kumar@@@@'

# 11 . Write your own definition of compiler and interpretor without copy paste form internet in your own language

Compiler: it is a program that translates the code written by person into a language recoginised by computer.
    it translate the whole code at once. The code execution is fast as compared to interpreter.
Interpreter: it is also a program that translates the code written by person in a language recoginised by computer,
    but the difference is that it translates the each code line one by one, hence the code execution is slow, but 
    advantage is that it stops at that line where code is incorrect.

# 12 . Python is a interpreted of compiled language give a clear ans with your understanding 

-python is compiled as well as interpreted language. in python to converts the high level language in to 
low level laguage the terms compiler cames in to the picture.
-In python when we execute the program 1st the compiler converts the source code in to byte code and then interpreter converts 
the byte code in to machine level language.

source code--->compiler--->byte code--->interpreter--->machine code
                                        (Virtual 
                                        machine(PVM))
-in python the process of execution is bit different because to make the program platform independence(we can write code once
and can run in differenr platform).As the machine changes the cpu architecture also changes so if we are writting some code 
in one machine it may not be executed in other so to resolve this problem virtual machines converts the byte code in to machine
code and make it platform indepndent.

# Try to write a usecase of python with your understanding .
'''1.Data Science.
2.Artificial Intelligence. 
3.Web Scraping. 
4.Web application development.
5.Game development. 
6.Internet of Things. 
7.Desktop GUI. 
8.Enterprise applications.'''