In [2]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
#q3 : Try to extract all the list entity

In [4]:
l[0]

[1, 2, 3, 4]

In [7]:
for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [12]:
#q4 : Try to extract all the dict enteties
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [13]:
#q5 : Try to extract all the tuples entities
for i in l:
    if type(i) == tuple :
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [ ]:
#Try to extract all the numerical data it may b a part of dict key and values

In [14]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [31]:
l1 = []
for i in l:
    if type(i) == list or type(i) == set or type(i) == tuple:
        for j in i:
            if type(j) == int:
                l1.append(j)

In [32]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23]

In [65]:
l1 = []
for i in l:
    if type(i) == list or type(i) == set or type(i) == tuple:
        for j in i:
            if type(j) == int:
                l1.append(j)
    if type(i) == dict:
        print(i)
        for k in i.items():
            for g in k:
                if type(g) == int:
                    l1.append(g)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [61]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [54]:
list(l[4].items())[3]

(3, 6)

In [51]:
#Try to give summation of all the numeric data 
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [62]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [63]:
sum(l1)

156

In [ ]:
#Try to filter out all the odd values out all numeric data which is a part of a list

In [87]:
l2 = []
for i in l:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if type(j) == int:
                l2.append(j)
    if type(i) == dict:
        for k in i.items():
            for g in k:
                if type(g) == int:
                    l2.append(g)
l3 = []                    
for v in l2:
    if v%2 !=0:
        print(v)
    else:
        l3.append(v)

1
3
3
5
3
5
7
3
7

In [89]:
l3

[2, 4, 2, 4, 6, 4, 6, 6, 8]

In [71]:
l[4].items()

dict_items([('k1', 'sudh'), ('k2', 'ineuron'), ('k3', 'kumar'), (3, 6), (7, 8)])

In [ ]:
#Try to extract "ineruon" out of this data

In [90]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [11]:
p = []
for i in l:
    if type(i) == list or type(i) == tuple:
        for k in i:
            if type(k) == str:
                if k == "ineuron":
                    p.append(k)
    if type(i) == dict:
        for r in i.items():
            for s in r:
                if type(s) == str:
                     if s == "ineuron":
                        p.append(s)

In [12]:
p

['ineuron', 'ineuron']

In [13]:
#Try to find out a number of occurances of all the data 
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [26]:
x = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int or type(j) == str:
                x.append(j)
    if type(i) == dict:
        for k in i.items():
            for z in k:
                if type(z) == int or type(z) == str:
                    x.append(z)

In [28]:
x

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [32]:
for d in set(x):
    print(d , ":" ,x.count(d))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
k1 : 1
sudh : 1
k3 : 1
kumar : 1
8 : 1
45 : 1
data science  : 1
ineuron : 2
23 : 1
k2 : 1

In [34]:
#Try to find out number of keys in dict element
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [43]:
for i in l:
    if type(i) == dict:
        print(len(i.keys()))

5

In [42]:
len(l[4].keys())

5

In [44]:
#Try to filter out all the string data 
s = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == str:
                s.append(j)
    if type(i) == dict:
        for k in i.items():
            for g in k:
                if type(g) == str:
                    s.append(g)

In [45]:
s

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science ']

In [48]:
len(s)

8

In [51]:
#Try to Find  out alphanum in data
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [52]:
x

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [57]:
for i in x:
    if type(i) == str:
        if i.isalnum():
            print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron

In [ ]:
#q14 : Try to find out multiplication of all numeric values inside dataset

In [58]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [68]:
f = []
d = 1
for i in x:
    if type(i) == int:
        f.append(i)
for j in f:
    d = d*j
print(d)

908605071360000

In [69]:
f

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [ ]:
## : Try to find out multiplication of all numeric values in  the individual collection inside dataset

In [75]:
for i in l:
    a = 1
    if type(i) == list or type(i) == set or type(i) == tuple:
        for j in i:
            if type(j) == int:
                a = a*j
        print(type(i) , a)
    if type(i) == dict:
        for k in i.items():
            for g in k:
                if type(g) == int:
                    a = a*g
        print(type(i), g)

<class 'list'> 24
<class 'tuple'> 720
<class 'tuple'> 2520
<class 'set'> 20700
<class 'dict'> 8
<class 'list'> 1

In [85]:
range(7)

range(0, 7)

In [86]:
list(range(0,7))

[0, 1, 2, 3, 4, 5, 6]

q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

In [3]:
a = int(input("Please enter number of row"))
for i in range(a):
    print("ineuron " *(1+i))

Please enter number of row6
ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron ineuron

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

In [2]:
for i in range(6):
    if i <= 3:
        n = i
    else:
        n = 6 - i
    print(("ineuron "*n).center(30,' '))

           ineuron
       ineuron ineuron
   ineuron ineuron ineuron
       ineuron ineuron
           ineuron

In [ ]:
# q3 : Try to print all the number divisible by 3 in between a range of 40 - 400

In [1]:
l = []
for i in range(40,401):
    if i%3 == 0:
        l.append(i)
print(l)

[42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399]

In [2]:
l = []
for i in range(40,401):
    while i%3 == 0:
        l.append(i)
        i = i + 1

In [3]:
l

[42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99,
 102,
 105,
 108,
 111,
 114,
 117,
 120,
 123,
 126,
 129,
 132,
 135,
 138,
 141,
 144,
 147,
 150,
 153,
 156,
 159,
 162,
 165,
 168,
 171,
 174,
 177,
 180,
 183,
 186,
 189,
 192,
 195,
 198,
 201,
 204,
 207,
 210,
 213,
 216,
 219,
 222,
 225,
 228,
 231,
 234,
 237,
 240,
 243,
 246,
 249,
 252,
 255,
 258,
 261,
 264,
 267,
 270,
 273,
 276,
 279,
 282,
 285,
 288,
 291,
 294,
 297,
 300,
 303,
 306,
 309,
 312,
 315,
 318,
 321,
 324,
 327,
 330,
 333,
 336,
 339,
 342,
 345,
 348,
 351,
 354,
 357,
 360,
 363,
 366,
 369,
 372,
 375,
 378,
 381,
 384,
 387,
 390,
 393,
 396,
 399]

#q4 : Try to filter out all the vowels form below text by using while loop : 
  s = "Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming. It is often described as a batteries included language due to its comprehensive standard library.[33][34]

        Guido van Rossum began working on Python in the late 1980s as a successor to the ABC programming language and first released it in 1991 as Python 0.9.0.[35] Python 2.0 was released in 2000 and introduced new features such as list comprehensions, cycle-detecting garbage collection, reference counting, and Unicode support. Python 3.0, released in 2008, was a major revision that is not completely backward-compatible with earlier versions. Python 2 was discontinued with version 2.7.18 in 2020.[36]

        Python consistently ranks as one of the most popular programming languagesc"

In [5]:
s =  """Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.[32]

Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming. It is often described as a "batteries included" language due to its comprehensive standard library.[33][34]

Guido van Rossum began working on Python in the late 1980s as a successor to the ABC programming language and first released it in 1991 as Python 0.9.0.[35] Python 2.0 was released in 2000 and introduced new features such as list comprehensions, cycle-detecting garbage collection, reference counting, and Unicode support. Python 3.0, released in 2008, was a major revision that is not completely backward-compatible with earlier versions. Python 2 was discontinued with version 2.7.18 in 2020.[36]

Python consistently ranks as one of the most popular programming languagesc"""

In [13]:
t = []
for p in s.lower():
    if p == "a" or p == "e" or p == "i" or p == "o" or p == "u":
        t.append(p)
print(t)

['o', 'i', 'a', 'i', 'e', 'e', 'i', 'e', 'e', 'e', 'e', 'e', 'a', 'u', 'o', 'e', 'o', 'a', 'i', 'a', 'u', 'a', 'e', 'i', 'e', 'i', 'i', 'o', 'o', 'e', 'a', 'i', 'e', 'o', 'e', 'e', 'a', 'a', 'i', 'i', 'i', 'e', 'u', 'e', 'o', 'i', 'i', 'i', 'a', 'i', 'e', 'a', 'i', 'o', 'o', 'i', 'a', 'i', 'a', 'e', 'a', 'a', 'a', 'e', 'o', 'e', 'e', 'i', 'u', 'o', 'u', 'i', 'e', 'o', 'a', 'i', 'a', 'a', 'i', 'i', 'u', 'i', 'u', 'u', 'e', 'a', 'i', 'u', 'a', 'o', 'e', 'u', 'a', 'o', 'e', 'o', 'i', 'e', 'e', 'a', 'u', 'i', 'o', 'a', 'o', 'a', 'i', 'i', 'i', 'o', 'e', 'e', 'i', 'e', 'a', 'a', 'a', 'e', 'i', 'e', 'i', 'u', 'e', 'a', 'u', 'a', 'e', 'u', 'e', 'o', 'i', 'o', 'e', 'e', 'i', 'e', 'a', 'a', 'i', 'a', 'u', 'i', 'o', 'a', 'o', 'u', 'e', 'a', 'o', 'i', 'o', 'o', 'i', 'e', 'a', 'e', 'a', 'a', 'u', 'e', 'o', 'o', 'e', 'a', 'o', 'a', 'i', 'a', 'u', 'a', 'e', 'a', 'i', 'e', 'e', 'a', 'e', 'i', 'i', 'a', 'o', 'o', 'a', 'e', 'e', 'a', 'e', 'i', 'a', 'i', 'o', 'u', 'e', 'e', 'e', 'a', 'u', 'e', 'u', 'a', 'i', 'o', 'e', 'e', 'i', 'o', 'e', 'e', 'e', 'i', 'a', 'a', 'e', 'o', 'e', 'i', 'o', 'e', 'e', 'e', 'e', 'o', 'u', 'i', 'a', 'u', 'i', 'o', 'e', 'u', 'o', 'o', 'e', 'e', 'a', 'e', 'i', 'a', 'a', 'a', 'o', 'e', 'i', 'i', 'o', 'a', 'i', 'o', 'o', 'e', 'e', 'a', 'a', 'o', 'a', 'i', 'e', 'i', 'e', 'a', 'i', 'e', 'e', 'i', 'o', 'o', 'a', 'i', 'o', 'i', 'u', 'e', 'i', 'e', 'i', 'o', 'i', 'o', 'o', 'i', 'e', 'a', 'a', 'o', 'e', 'o', 'e', 'o', 'o', 'u', 'a', 'o', 'a', 'i', 'a', 'u', 'a', 'e']

In [12]:
t

['o',
 'i',
 'a',
 'i',
 'e',
 'e',
 'i',
 'e',
 'e',
 'e',
 'e',
 'e',
 'a',
 'u',
 'o',
 'e',
 'o',
 'a',
 'i',
 'a',
 'u',
 'a',
 'e',
 'i',
 'e',
 'i',
 'i',
 'o',
 'o',
 'e',
 'a',
 'i',
 'e',
 'o',
 'e',
 'e',
 'a',
 'a',
 'i',
 'i',
 'i',
 'e',
 'u',
 'e',
 'o',
 'i',
 'i',
 'i',
 'a',
 'i',
 'e',
 'a',
 'i',
 'o',
 'o',
 'i',
 'a',
 'i',
 'a',
 'e',
 'a',
 'a',
 'a',
 'e',
 'o',
 'e',
 'e',
 'i',
 'u',
 'o',
 'u',
 'i',
 'e',
 'o',
 'a',
 'i',
 'a',
 'a',
 'i',
 'i',
 'u',
 'i',
 'u',
 'u',
 'e',
 'a',
 'i',
 'u',
 'a',
 'o',
 'e',
 'u',
 'a',
 'o',
 'e',
 'o',
 'i',
 'e',
 'e',
 'a',
 'u',
 'i',
 'o',
 'a',
 'o',
 'a',
 'i',
 'i',
 'i',
 'o',
 'e',
 'e',
 'i',
 'e',
 'a',
 'a',
 'a',
 'e',
 'i',
 'e',
 'i',
 'u',
 'e',
 'a',
 'u',
 'a',
 'e',
 'u',
 'e',
 'o',
 'i',
 'o',
 'e',
 'e',
 'i',
 'e',
 'a',
 'a',
 'i',
 'a',
 'u',
 'i',
 'o',
 'a',
 'o',
 'u',
 'e',
 'a',
 'o',
 'i',
 'o',
 'o',
 'i',
 'e',
 'a',
 'e',
 'a',
 'a',
 'u',
 'e',
 'o',
 'o',
 'e',
 'a',
 'o',
 'a',
 'i',
 'a',
 'u',
 'a',
 'e',
 'a',
 'i',
 'e',
 'e',
 'a',
 'e',
 'i',
 'i',
 'a',
 'o',
 'o',
 'a',
 'e',
 'e',
 'a',
 'e',
 'i',
 'a',
 'i',
 'o',
 'u',
 'e',
 'e',
 'e',
 'a',
 'u',
 'e',
 'u',
 'a',
 'i',
 'o',
 'e',
 'e',
 'i',
 'o',
 'e',
 'e',
 'e',
 'i',
 'a',
 'a',
 'e',
 'o',
 'e',
 'i',
 'o',
 'e',
 'e',
 'e',
 'e',
 'o',
 'u',
 'i',
 'a',
 'u',
 'i',
 'o',
 'e',
 'u',
 'o',
 'o',
 'e',
 'e',
 'a',
 'e',
 'i',
 'a',
 'a',
 'a',
 'o',
 'e',
 'i',
 'i',
 'o',
 'a',
 'i',
 'o',
 'o',
 'e',
 'e',
 'a',
 'a',
 'o',
 'a',
 'i',
 'e',
 'i',
 'e',
 'a',
 'i',
 'e',
 'e',
 'i',
 'o',
 'o',
 'a',
 'i',
 'o',
 'i',
 'u',
 'e',
 'i',
 'e',
 'i',
 'o',
 'i',
 'o',
 'o',
 'i',
 'e',
 'a',
 'a',
 'o',
 'e',
 'o',
 'e',
 'o',
 'o',
 'u',
 'a',
 'o',
 'a',
 'i',
 'a',
 'u',
 'a',
 'e']

In [14]:
#q5 : Try to generate all the even number between 1- 1000
x = []
for i in range(1,1000):
    if i%2 == 0:
      x.append(i)
print(x)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998]

In [18]:
chr(65).lower()

'a'

In [5]:
k = []
i = 1
while i <= 1000:
    if i%2 == 0:
        k.append(i)
    i = i + 1
print(k)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998, 1000]

In [4]:
k

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998,
 1000]

In [23]:
def vish(a):
    for i in range(a):
        if type(i) == int or type(i) == str:
            print(i)

In [24]:
vish(125)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124

In [49]:
def vish(a):
    for i in a:
        if type(i) == list or type(i) == set or type(i) == tuple or type(i) ==str : 
            for j in i:
                if type(j)== int or str:
                        print(i)

In [50]:
vish("gchgf","jhghj")

TypeError: vish() takes 1 positional argument but 2 were given

In [4]:
t = [3,4,5,6,7,8,9]
a = 0
while a < len(t):
    if t[a] == 6 or t[a] == 7:
        print("index of", t[a], "is", a)
    a = a+1

index of 6 is 3
index of 7 is 4

In [6]:
a = -1
while a > -len(t):
    if t[a] == 6 or t[a] == 7:
        print("index of", t[a], "is", a)
    a = a-1

index of 7 is -3
index of 6 is -4

In [15]:
d = {'k1' :"sudh" , "k2" :[1,2,3,4] , "k3" : (2,3,4,5)}
len(d)

3

In [14]:
d.values()

dict_values(['sudh', [1, 2, 3, 4], (2, 3, 4, 5)])

In [16]:
for i in d.items():
    for k in i:
        if type(k)

AttributeError: 'str' object has no attribute 'values'

In [17]:
list(d)

['k1', 'k2', 'k3']

In [27]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,45,45,4,5]), 
   {"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["neuron","datascience"]]
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                print(j)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23

In [18]:
a = [1,2,3,6]

In [21]:
print(sum(a))

12